# fly.toml app configuration file generated for flyscale on 2025-11-07T19:45:15+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'flyscale'
primary_region = 'lax'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[experimental]

[build]

[env]
  PORT = '41641'

[http_service]
  internal_port = 41641
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[services]]
  protocol = 'udp'
  internal_port = 41641
  processes = ['app']

  [[services.ports]]
    port = 41641

  [services.concurrency]
    type = 'connections'
    hard_limit = 100
    soft_limit = 75

[[vm]]
  size = 'shared-cpu-1x'
